textarea, select,input[type="text"]{
	font-family:"Lucida Grande", Verdana, Geneva,Tahoma,Arial,sans-serif;	
	font-size:12px;	
	border:1px solid  #C0C0C0;
	font-weight: normal;
	width: 90%;
	padding:2px;
}

input[type="button"] {
	font-family:"Lucida Grande", Verdana, Geneva,Tahoma,Arial,sans-serif;	
	font-size:12px;	
	font-weight: normal;
	padding:2px;
	background-color:#cccccc;
}

select:hover, textarea:hover,input[type="button"]:hover ,input[type="text"]:hover {
  background: #EFEFEF;
}

td {
padding:2px;
	
}
